.heroImgSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: auto;
}

.heroImg {
    width: 100vw;
    /* height: auto; */
    object-fit: cover;
    z-index: -4;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100vw;
    height: 100%;
    background: var(--forest-green);
    opacity: 0.5;
    z-index: -3;
}

.heroVector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -2;
}

.heroLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    /* object-fit: cover; */
    z-index: -1;
}

.homeContainer {
    display: flex;
    width: 97.9vw;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.firstRow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.secondRow {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.firstColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.secondColumn {
    display: flex;
    width: 50%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-shrink: 0;
}

.welcomeSlogan {
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .secondRow {
        flex-direction: column;
    }

    .secondColumn {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .homeContainer {
        gap: 50px;
        /* Reduce the gap between elements */
        padding: 10px 0;
    }

    .row {
        gap: 5px;
        /* Reduce gap between row elements */
    }
}

@media screen and (max-width: 480px) {

    .homeContainer {
        gap: 30px;
        padding: 5px 0;
    }
}