.heroImgSection {
    background-color: var(--forest-green);
    position: relative;
    width: 100vw;
}

.heroImg {
    position: absolute;
    z-index: -3;
}
.heroVector {
    position: absolute;
    z-index: -2;
}
.heroLogo {
    position: absolute;
    z-index: -1;
}