.headerContainer {
    width: 100vw;
    background-color: var(--forest-green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

.headerTitle {
    padding-left: 20px;
    user-select: none;
}

.navBar {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--white);
    align-items: center;
    justify-content: space-around;
    width:55%;
}

.textContainer {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

.toggleDropdown {
    position: absolute;
    top: 0;
    background-color: var(--sage-green);
    margin-top: 5%;
}

.fakeLink {
    user-select: none;
    display: flex;
    align-items: center;
}

.arrowSpan {
    transition: filter 0.3s ease;
    cursor: pointer;
}

.arrowSpan:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(11%) saturate(440%) hue-rotate(75deg) brightness(87%) contrast(86%);
}

.mainLink:hover {
    color: var(--sage-green);
}

.linkStyle {
    padding: 1%;
}

.linkStyle:hover {
    background-color: #a5ae93;
    color: var(--forest-green);
}

.commonTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1461px) {
    .navBar {
        width: 100%;
    }

    .headerTitle {
        width: 62%;
        font-size: 80px;
    }

    .toBeWith {
        margin-bottom: -40px;
    }
}

@media screen and (max-width: 1024px) {
    .headerTitle{
        padding-left: 0px;
        width: 100%;
        text-align: center;
        background-color: var(--teal);
        color: var(--white);
    }
    .headerContainer {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .navBar {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 10px;
        margin-right: 0px;
    }

    .linkStyle,
    .mainLink,
    .fakeLink {
        margin-top: 3%;
    }

    .toggleDropdown {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--sage-green);
        margin-top: 0%;
        width: 100vw;
        height: 100vh;
    }
    .linkStyle {
        display: flex;
        justify-content: center;
    }
    .toBeWith {
        margin-bottom: initial;
    }
}

@media screen and (max-width: 480px) {
    .navBar {
        flex-direction: column;
        align-items: center;
    }
}