@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Scheme: */
  --sage-green: #BFC8AC;
  --light-brown: #C2B19C;
  --medium-brown: #9A7B6C;
  --forest-green: #304529;
  --teal: #7B9F9F;
  --white: #FFFFFF;
}

/* font-style classes */

.big-script-header {
  font-family: var(--bd-script);
  font-size: 100px;
}

.normal-ovo-header {
  font-family: var(--ovo-font);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
